<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".view.emailverify"></activity>
        <activity android:name=".view.ChannelActivity" />
        <activity android:name=".view.DetailWorkspaceActivity" />
        <activity android:name=".view.AddMemberActivity" />
        <activity android:name=".view.WorkSpaceAddActivity" />
        <activity android:name=".view.WorkSpaceListActivity" />
        <activity android:name=".view.SignUpActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>